<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{{ title }}</title>
</head>
<body>
{# Navbar goes here #}
{% include 'navigation.html' %}
<main>
    <div class="container">
        {# Main page content goes here #}
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>